.board {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 16px;
  height: 16px;
  background-image: url("../../imgs/sprite100.gif");
  background-position: 0 -23px;
}

.cell.hide {
  background-position: 0 -39px;
}

.cell.open {
  background-position: 0 -23px;
}

.cell.flag {
  background-position: -16px -39px;
}

.cell.bombdeath {
  background-position: -32px -39px;
}

.cell.dx {
  background-position: -64px -39px;
}

.cell.d1 {
  background-position: -16px -23px;
}

.cell.d2 {
  background-position: -32px -23px;
}

.cell.d3 {
  background-position: -48px -23px;
}

.cell.d4 {
  background-position: -64px -23px;
}

.cell.d5 {
  background-position: -80px -23px;
}

.cell.d6 {
  background-position: -96px -23px;
}

.cell.d7 {
  background-position: -112px -23px;
}

.cell.d8 {
  background-position: -128px -23px;
}
